.main-container{
    height: 500px;
    width:500px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #5585b5,#79c2d0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container1{
    height: 350px;
    width:300px;
    background-color: #79c2d0;
    border-radius:30px;
    margin-bottom: 120px;
    display: flex;
    justify-content: end;
}
.symbol{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    width: 70px;
    border: solid 1px;
    border-radius: 20px;
    background: #bbe4e9;
    color: white;
}
.footer{
    position: absolute;
    bottom:30px;
    height: 90px;
    width:320px;
    border-radius: 50px;
    background: #e4f1fe;
}