.main-container{
    font-family: "Montserrat", sans-serif;
    height: 500px;
    width:500px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #5585b5,#79c2d0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container1{
    height: 350px;
    width:300px;
    /* background-color: white; */
    background: linear-gradient(to bottom, #ffffff, #79c2d0);
    border-radius:30px;
    margin-bottom: 120px;
    display: flex;
    justify-content: end;
    position: relative;
    overflow: hidden;
    
}
.symbol{
    padding: 2px;
    background:#f0ecec ;
    justify-content: end;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    width: 70px;
    border: solid 1px;
    border-radius: 20px;
    border: none;
    /* background: #bbe4e9; */
    color: black;
}
.footer{
    position: absolute;
    bottom:30px;
    height: 90px;
    width:320px;
    border-radius: 50px;
    background: #e4f1fe;
}
.img{
    position: absolute;
    object-fit: contain;
    height: auto;
    width:100%;
    right: 80px;
    bottom: 50px;
    transform: rotate(-45deg);
    border: none;
    mix-blend-mode: multiply;
     /* mask-image: linear-gradient(to bottom, black 50%, transparent 95%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 95%); */
}
.progressive-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjusts how high up the blur goes */
  z-index: 1;
  
  /* 1. The Blur Effect */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  
  /* 2. The Gradient Mask (The "Progressive" part) */
  /* This creates a fade from transparent (no blur) to opaque (full blur) */
  mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
}